body {
  text-align: center;
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
}

form {
  text-align: left;
}

.container {
  width: 50%;
}

.panel {
  width: 50%;
  height: auto;
  margin: 30px auto;
  -webkit-box-shadow: 9px 9px 28px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 28px -2px rgba(0,0,0,0.5);
  box-shadow: 9px 9px 28px -2px rgba(0,0,0,0.5);
}

.panel-heading {
  font-size: 25px;
  font-weight: bold;
}

.panel-body {
  padding: 20px;
}

h3 {
  margin: 0;
}

h4 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

#submit {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

ul {
  text-align: left;
  font-size: 18px;
}

hr {
  border: 1px solid #bbb;
}

/* Initially Hidden */
#output {
  display: none;
}