body {
  text-align: center;
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
}

form {
  text-align: left;
}

.container {
  width: 50%;
}

.panel {
  width: 50%;
  height: auto;
  margin: 30px auto;
  -webkit-box-shadow: 9px 9px 15px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.3);
  box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.panel-heading {
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.panel-body {
  padding: 20px;
}

h3 {
  margin: 0;
}

h4 {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

#submit {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

ul {
  text-align: left;
  font-size: 18px;
  padding: 0 0 0 25px;
}

hr {
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #bbb;
}

.innerPanel {
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.2);
  box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.2);
  height: auto;
  top: 0;
  position: relative;
  transition: top 0.1s ease;
}

.studyMaterial .innerPanel:hover {
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.32);
  transition: 0.1s;
  top: -5px;
}

#languageName {
  font-size: 30px;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.imgPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

img {
  height: 75px;
  width: auto;
  margin: 5px;
}

p {
  margin: auto;
}

iframe {
  width: 100%;
  height: 250px;
}

#studyTitle {
  font-size: 25px;
  margin-top: 30px;
}

.innerPanel p {
  font-size: 16px;
  padding: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
  box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
}

td, th {
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px 12px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

#loadingDiv, #leavingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loadingDiv p, #leavingDiv p {
  font-size: 20px;
}

#loadingDiv h1, #leavingDiv h1 {
  margin: 60px 0;
  line-height: 60px;
}

#refreshButton {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

/* Initially Hidden */
#survey {
  display: none;
}
#output {
  display: none;
}
#loadingDiv {
  display: none;
}
#leavingDiv {
  display: none;
}

/* Loading Icon */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: 20px auto;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Queries */
@media screen and (max-width: 1700px) {
  .panel {
    width: 80%;
  }
}
@media screen and (max-width: 1110px) {
  .container {
    width: 80%;
  }
}
@media screen and (max-width: 740px) {
  .container, .panel {
    width: 100%;
  }
  .panel.panel-primary {
    margin-top: 15px;
  }
  .panel {
    -webkit-box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.2);
  }
  input[type=radio] {
    transform: scale(1.5);
  }
}